<html lang="en">

	<head>

		<!-- header -->
		{% embed '@ReaccionCMSAdminBundle/layout/header.html.twig' %}{% endembed %}

	</head>

	<body>

		<div class="page-main">

	        <!-- navigation -->
			{% embed '@ReaccionCMSAdminBundle/layout/navigation.html.twig' %}{% endembed %}

			<!-- body -->
			{% block reaccion_cms_admin_body %}{% endblock %}

			<!-- footer -->
			{% embed '@ReaccionCMSAdminBundle/layout/footer.html.twig' %}{% endembed %}

		</div>

		{% embed '@ReaccionCMSAdminBundle/shared/js_vars.html.twig' %}{% endembed %}
		<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>

	</body>

</html>