<div class="page-header">
	<div class="col pl-0">
		<h1 class="page-title">{{ 'pages_list.translation_group_title' | trans }}</h1>
	</div>
	<div class="col col-lg-6 row justify-content-end">
		<a href="{{ url('reaccion_cms_admin_create_page_translation_group') }}" class="btn btn-info">
			<i class="fe fe-plus"></i>&nbsp;&nbsp;{{ 'pages_list.create_new_page_trans_group' | trans }}
		</a>
	</div>
</div>

<div class="row row-cards">

	<!-- translation groups -->
	<div class="col-12">
        <div class="card">
            <div class="card-body">

                {% for group in translationGroups %}
                <div class="btn-group">
                  <a href="#" role="button" class="btn btn-secondary">{{ group.name }}</a>
                  <button type="button" class="btn btn-secondary text-primary">
                    <i class="fe fe-edit"></i>
                  </button>
                  <button type="button" class="btn btn-secondary">
                    <i class="fe fe-trash-2 text-danger"></i>
                  </button>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>