<div class="page-header">
	<div class="col pl-0">
		<h1 class="page-title">{{ 'pages_list.translation_group_title' | trans }}</h1>
	</div>
	<div class="col col-lg-6 row justify-content-end">
		<a href="{{ url('reaccion_cms_admin_create_page_translation_group') }}" class="btn btn-info">
			<i class="fe fe-plus"></i>&nbsp;&nbsp;{{ 'pages_list.create_new_page_trans_group' | trans }}
		</a>
	</div>
</div>

	<div class="row row-cards">

		<!-- translation groups -->
		<div class="col-12">
        <div class="card">
        	
        	
        	
        </div>
    </div>

</div>