<div class="card-header">
	<div class="col-4 pl-0">
		<h3 class="card-title">{% embed '@ReaccionCMSAdminBundle/shared/crud/listingCount.html.twig' %}{% endembed %}</h3>
	</div>
	<div class="col-8 embed-pagination p-0">
		{{ knp_pagination_render(result) }}
	</div>
</div>