<div class="card-header">
	<div class="col-4">
		<h3 class="card-title">{{ 'crud.listing_x_of_y' | trans({ '%current%' : getCurrentListingCount(result), '%total%' : result.getTotalItemCount }) }}</h3>
	</div>
	<div class="col-8 embed-pagination p-0">
		{{ knp_pagination_render(result) }}
	</div>
</div>