<!-- image component -->
{% embed '@ReaccionCMSAdminBundle/components/media/image_form_component.html.twig' %}{% endembed %}

<!-- open gallery button -->
<div id="open_gallery_button" data-form-name="{{ form_name }}" class="d-none col-8">
	<button type="button" data-event="open-media-gallery" class="btn btn-dark btn-block"><i class="fe fe-upload mr-2"></i>{{ 'media_common.open_gallery' | trans }}</button>
</div><!-- end open gallery button -->