<!-- image preview -->
<div id="selected_video_preview" class="d-none col-8 ml-auto mr-auto">

	<div class="card card-aside">
	  	<div class="card-body d-flex flex-column">

	  		<div class="dimmer active">

	  			<div class="loader"></div>
	  			<div class="dimmer-content">

	  				<h4 class="video-name"></h4>

	  				<video width="100%" controls>
						<source src="" type="video/mp4">
						{{ 'media.video_tag_not_supported' | trans }}
					</video> 

	  			</div>

	  		</div>

	  	</div>
	</div>
	
</div>