{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">

	<div class="container">

		<div class="page-header">
			<div class="col pl-0">
	    		<h1 class="page-title">{{ 'menu.title' | trans }}</h1>
	    	</div>
	    	<div class="col col-lg-2 row justify-content-end">
    			<a href="{{ url('reaccion_cms_admin_preferences_create_configuration') }}" class="btn btn-primary">
    				<i class="fe fe-plus"></i>&nbsp;&nbsp;{{ 'menu.create_new' | trans }}
    			</a>
    		</div>
	    </div>

	    {% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' with {'extraClasses' : 'pl-0 pr-0'} %}{% endembed %}

	    <!-- list -->
	    <div class="row row-cards">

  			<div class="col-12">
                
                <div class="card">

            		{% embed '@ReaccionCMSAdminBundle/shared/crud/listCardHeader.html.twig' with { 'result' : menu } %}{% endembed %}

            		<!-- flash messages -->
            		{% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' %}{% endembed %}

					

	    		</div>

	    	</div>

	    </div>

	</div>

</div>

{% endblock %}