<div class="card">

  	{{ form_start(pageForm, { attr : { 'class' : 'mb-0' } }) }}

  <div class="card-header">
      <h3 class="card-title">
      	<i class="fe fe-file-text"></i>&nbsp;&nbsp;General info
      </h3>
  	</div>

  	<div class="card-body">{{ form_widget(pageForm) }}</div>

  	<div class="card-footer text-center">
  		<button type="submit" class="btn btn-primary">
        <i class="fe fe-save"></i>&nbsp;&nbsp;Save changes
      </button>
  	</div>

  	{{ form_end(pageForm) }}

</div>