<div id="selected_image_preview" class="d-non col-8">
	
</div>
<div id="image_gallery_component" class="d-none col-8">
	<button type="button" data-event="open-media-gallery" class="btn btn-dark btn-block"><i class="fe fe-upload mr-2"></i>{{ 'media_common.open_gallery' | trans }}</button>
</div>