.embed-pagination nav ul{
	margin: 0;
	float: right;
}
div.card-footer.footer-pagination div.row div.col-4 h3{
	padding-left: 13px;
	padding-top: 8px;
}
div.card-footer.footer-pagination div.row ul.pagination{
	margin-right: 11px;
}