{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">
    
    <div class="container">
            
        <div class="row">
            <div class="col-6">
                <h3>#{{page.id }} - {{ page.name }}</h3>
            </div>
            <div class="col-6 text-right">
                
                <a href="{{ url('reaccion_cms_admin_pages_index') }}" class="btn btn-secondary text-right">
                    <i class="fe fe-arrow-left"></i>&nbsp;&nbsp;Go back to page list
                </a>

                <a href="{{ url('reaccion_cms_admin_pages_remove', { 'page' : page.id }) }}" class="btn btn-danger ml-1" data-detele-confirm="true">
                    <i class="fe fe-trash-2"></i>&nbsp;&nbsp;Remove
                </a>

            </div>
        </div>

        {% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' with { 'extraClasses' : 'pl-0 pr-0' } %}{% endembed %}

        <div class="row">

        	<div class="col-lg-4">

        		<!-- page general info -->
        		{% embed '@ReaccionCMSAdminBundle/pages/detail/general_info.html.twig' %}{% endembed %}

                <!-- page seo -->
                {% embed '@ReaccionCMSAdminBundle/pages/detail/seo.html.twig' %}{% endembed %}

        	</div>
        	
        	<div class="col-lg-8">

                <!-- content -->
                {% embed '@ReaccionCMSAdminBundle/pages/detail/content.html.twig' %}{% endembed %}

        	</div>

        </div>

    </div>

</div>

{% endblock %}