{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}

<div class="my-3 my-md-5">
    
    <div class="container">
        
        <h3>#{{page.id }} - {{ page.name }}</h3>

        <div class="row">

        	<div class="col-lg-4">

        		<!-- page general info -->
        		{% embed '@ReaccionCMSAdminBundle/pages/detail/general_info.html.twig' %}{% endembed %}

                <!-- page seo -->
                {% embed '@ReaccionCMSAdminBundle/pages/detail/seo.html.twig' %}{% endembed %}

        	</div>
        	
        	<div class="col-lg-8">

                <!-- content -->
                {% embed '@ReaccionCMSAdminBundle/pages/detail/content.html.twig' %}{% endembed %}

        	</div>

        </div>

    </div>

</div>

{% endblock %}