{% extends '@ReaccionCMSAdminBundle/base.html.twig' %}

{% block reaccion_cms_admin_body %}
<div class="my-3 my-md-5">

  	<div class="container">

  		<!-- pages translation group -->
  		{% embed '@ReaccionCMSAdminBundle/pages/translation_groups/list.html.twig' %}{% endembed %}

        <!-- pages list header -->
  		{% embed '@ReaccionCMSAdminBundle/pages/pageList.html.twig' with { 'result' : pages } %}{% endembed %}
        

  	</div>

</div>
{% endblock %}