<div class="page-header">
	<div class="col pl-0">
		<h1 class="page-title">{{ 'pages_list.title' | trans }}</h1>
	</div>
	<div class="col col-lg-6 row justify-content-end">
		<a href="{{ url('reaccion_cms_admin_pages_create') }}" class="btn btn-primary">
			<i class="fe fe-plus"></i>&nbsp;&nbsp;{{ 'pages_list.create_new_page_btn' | trans }}
		</a>
	</div>
</div>

<div class="row row-cards">

		<!-- pages list -->
		<div class="col-12">
        <div class="card">

        	{% embed '@ReaccionCMSAdminBundle/shared/crud/listCardHeader.html.twig' with { 'result' : pages } %}{% endembed %}

          	{% embed '@ReaccionCMSAdminBundle/shared/flash_messages.html.twig' %}{% endembed %}

          	<div class="table-responsive">
                
              {% embed '@ReaccionCMSAdminBundle/pages/pageListTable.html.twig' with { 'pages' : pages } %}{% endembed %}

          	</div>

          	{% embed '@ReaccionCMSAdminBundle/shared/crud/listCardFooter.html.twig' with { 'result' : pages } %}{% endembed %}
          	
        </div>
    </div>

</div>